<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Formulario Login</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <section class="form-login">
      <span class="close-button">&times;</span> <!-- Botón de cierre -->
      <h5>Login</h5>
      <h4>Inicia sesión con tu cuenta de XXXX.</h4>
      <input class="controls" type="text" name="usuario" value="" placeholder="Usuario o correo electrónico">
      <input class="controls" type="password" name="contrasena" value="" placeholder="Contraseña">
      <input class="buttons" type="submit" name="" value="Iniciar sesión">
      <button class="google-button">
        <img src="images/Google__G__logo.svg" alt="Google Logo"> <!-- Logo de Google -->
        Regístrate con Google
      </button>
      <p>¿No tienes una cuenta? <a href="#">Regístrate aquí.</a></p>
    </section>
  </body>
</html>